\__pycache___
venv
venv/
/venv
db.sqlite3
static
media
.idea
/.idea
.idea/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*.py[cod]
*$py.class
**/migrations/
**/**/migrations
